.page-header
    clearfix()

    .logo
        font('Bariol', 2em)
        color $darkGray
        float left
        width 132px

        .edu
            color $red

        .icon-o
            &:before
                icon('f192', $red, 20px, 17px, 0px, 105px)
                height 40px
                padding-left 1px
                width 40px

    .main-nav
        float right
        font-size 20px
        margin-left 10px
        margin-top 4px

        a
            font-weight $fontWeightBold
            padding-right 10px
